
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}
/* shared style */
/* ____________________________________ */

.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.bg-color{
    background-color: #FFF8F3;
}
.button-style{
    /* width: 150px;
    height: 64px; */
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
}
.button-style2{
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    border: #FD6E0A 2px solid;
    background: transparent;
    border-radius: 5px;
    color: #FD6E0A;
}

/* nav styles */
/* __________________________________ */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.logo{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #474747;
}
nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
}


/* _________________________________ */
/* header */

.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left 20px, right bottom;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 38px 0 200px;
}
.banner-content{
    max-width: 585px;
    max-height: 356px;
    /* background-color: aquamarine; */
}
.greetings{
    font-size: 45px;
    font-weight: 600;
    gap: 5px;
    /* background-color: aliceblue; */
}
.introduction{
    font-size: 85px;
    font-weight: 800;
    /* background-color: aliceblue; */
}
.description{
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
}
.banner .cta{
    /* background-color: none; */
    /* border: #FD6E0A 2px solid; */
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.banner .image{
    width: 585px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* ____________________________________________ */
/* About section starts */

.about{
    margin: 130px auto;
    max-width: 1140px;
    padding: 130px 156px;
    border-radius: 10px;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: #474747 1px solid; */
    /* background-color: #fff; */
}
.about-content > h3{
    font-size: 35px;
    font-weight: bold;
}
.about-content > p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 20px;
}
.personal-info{
    width: 827px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.personal-info h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
.personal-info h5{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}
/* _______________________________________ */
/* What I Do */
.skill{
    margin: 0px auto 130px;
}
.skill h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.skill .description{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    text-align: center;
    margin-top: 30px 345px;
}
.skills{
    margin-top: 50px;
    display: flex;
    gap: 24px;
}
.skills .item{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.item img{
    margin-bottom: 30px;
}
.item h4{
    font-size: 20px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}
.item p{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    color: #757575;
}

/* My Resume section */
/* _________________________________________ */

.resume-container{
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
}
hr{
    color: #D1D1D1;
    margin: 30px 0px; 
}
.column h3{
    margin-bottom: 30px;
}
.resume-headline{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin-bottom: 113px;
}
.column .title{
    font-size: 30px;
    font-weight: bold;
    color:#474747;
}
.resume-list h4{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-list h5{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-list p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    text-align: left;
    padding-right: 50px;
}
.cv-btn{
    text-align: center;
    margin-bottom: 130px;
}

/* footer section */
/* _________________________________________ */

.footer-section{
    display: flex;
    padding: 130px 230px;
    gap: 117px;

}
.footer-title {
    font-size: 35px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 20px;
}
.footer-column p{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    max-width: 562px;
}
.footer-column .icons{
    display: inline-block;
    margin-top: 30px;
    /* margin-right: 24px; */
}
.icons a{
    margin-right: 24px;
}

form input[type="text"], form input[type="email"], form input[type="submit"]{
    width: 460px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 18px 30px;
    font-size: 16px;
    font-weight: normal;
    color: #757575;
    display: block;
    margin-bottom: 20px;
}
form .sub-btn{
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    color: #FD6E0A;
}

form textarea{
    width: 460px;
    height: 180px;
    padding: 18px 30px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: #757575;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

